* {
  box-sizing: border-box;
}

:root {
  --grey-light-100-color: #8D8D8D;
  --blue-color: #334AC3;
  --primary-color: #E5E5E5;
  --secondery-color: #ffff;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--primary-color);
  color: var(--blue-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.base-card{
  background: var(--secondery-color);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




